 <h1>
         Codeial / <%= title %>
</h1>
    
    
<section id="feed-posts">
        <h4>Posts</h4>

        <!-- showing posts to singed in user only after - Authentication (locals = object -->
        <% if(locals.user) { %>

        <form action="/posts/create" id="new-post-form" method="post">
                <textarea name="content" cols="30" rows="3" placeholder="Type Here..." required></textarea>
                <input type="submit" value="Post">
        </form>
        <% } %>

<!-- second level of Authentication , so nobody can tamper with inspect element and spam the page , only signed user can post -->

<!-- //displaying posts of related user -->
       <div id="posts-list-container">
                <ul>
                        <% for(post of posts){ %>
                        
                        <li>
                                <!-- display post content that is text we enetred in textarea as a post --> 
                         <p> <%= post.content %>  
                        <br>
                        <small>
                                 <!-- if we want signed in user name details to reflect with post  -->
                                <%= post.user.name %>
                        </small>
                         </p>
 <div class = "post-comments">

                                <!-- showing posts to singed in user only after - Authentication (locals = object) --> 
                                <% if(locals.user) { %>

                                    <form action="/comments/create" method="post">
    
                                            <input type="text" name="content" placeholder="Type here to add comment...." required>
    
                                            <!-- value below will be the id of the post -->
                                            <input type="hidden" name="post" value="<%= post._id %>" >
    
                                            <input type="submit" value="Add Comment">
    
                                    </form>        
                            <% } %>
    
                            <div class="post-comments-list">
                                    <ul id="post-comments-<%= post._id %>">
                                            <% for (comment of post.comments) { %> 
                                                     <p>
                                                            <%= comment.content %>
                                                            <br>
                                                            <small>
                                                                    <%= comment.user.name %>
                                                            </small>
                                                    </p>
    
    
                                             <% } %>
    
                                    </ul>
    
    
                            </div>
                     

                        </div>
                  
                </li> 
                        
                  <% } %>
                </ul> 
        </div>  
</section> 



