<!-- creating ejs layouts -->

<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/css/layout.css">
        <link rel="stylesheet" href="/css/header.css" >
        <link rel="stylesheet" href="/css/footer.css">

        <%- style %>
    </head>
    <body>
        <%- include('_header'); %>


        <!-- flash messages -->
        <% if(flash.success && flash.success.length > 0){ %>
            <h5>
                <%= flash.success %>
            </h5>
        <% } %>
        
        <!-- putting body in main tag -- learning SCSS -->

        <main id = "layout-main">
            <!-- variable part of body -->
            <%- body %>
         </main>

       <%- include('_footer'); %>
 
       <%- script %>
       
    </body>
</html>