<!-- creating ejs layouts -->

<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/css/layout.css">
        <link rel="stylesheet" href="/css/header.css" >
        <link rel="stylesheet" href="/css/footer.css">

        <%- style %>
    </head>
    <body>
        <%- include('_header'); %>
        
        <!-- putting body in main tag -- learning SCSS -->

        <main id = "layout-main">
            <!-- variable part of body -->
            <%- body %>
        </main>

       <%- include('_footer'); %>
 
       <%- script %>
       
    </body>
</html>